
   
        <div class="row justify-content-center align-items-center  login-container">
            
            <div>
                <div class="card btn-lg " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center ">
                        <div style="display: inline-flex;">
                            <img src="assets/logo.png" class="logo">
                            <h2 style="color: rgb(9, 71, 30); text-decoration: underline;">Go Green Grocery!</h2>
                        </div>
                        <p class="tagline">Buy fresh veggies and stay healthy</p>
                        
                        
                        <form>
                            <div class="form-outline form-white mb-4">
                                
                                <input [(ngModel)] = "email" type="text" name="username" placeholder="Email" class="form-control form-control-lg">
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input [(ngModel)] = "password" type="password" name="password" placeholder="Password" class="form-control form-control-lg">
                            </div>
                            <p><a href="#">Forgot Password?</a></p>
                            <p><a routerLink="register">Don't have account?</a></p>
                            <router-outlet></router-outlet>
                            <div class="form-group">
                                    <button (click) = "login()" class="btn btn-success btn-lg px-5" type="submit">Login</button>
                              
                            </div>
                        </form>
                    </div>
                    
                </div>
                
                
            </div>
        </div>
        
 

