<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
    <!----CSS link----->
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

    <div class="hero">
        <nav>
            <img src="./assets/logo.jpg" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <a href="#" class="btn">Hire Me</a>
        </nav>

        <div class="content">
            <span class="title">Freelance Web Developer</span>
            <h1>Hello, I’m <span>Siddharth</span></h1>
            <p>I am a student at Pune Institute of Computer Technology. I am currently pursuing Bachelors' in Information Technology.</p>
            <a href="#" class="btn">Click here to view my projects</a>
        </div>
    </div>

</body>
</html>